body {
    background-image: url("https://wallpaperaccess.com/full/1661861.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.all{
    margin: 25px;
    text-align: center;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-size: larger;
    color: rgb(47, 170, 246);
}

.her{
    text-align: center;
    color: rgb(47, 170, 246);
    padding-bottom: 50px;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-size:medium;
    
}

.appbar{
    position:absolute;
    left:0;
    right:0;
    background: url(AppBar.PNG);
    background-size: contain;
    color:rgba(226, 227, 227, 0.988)
}

h3{
    color: black;
}

p{
    color: rgb(72, 74, 77);
}

img{
    display: block;
    padding: 5px;
}

.entire{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.smile1{
    display: inline-block;
 }
