body {
    background-image: url("https://wallpaperaccess.com/full/1661861.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.all{
    margin:50px;
    text-align: center;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-size: larger;
    color: rgb(54, 117, 205);
}

.her{
    text-align: center;
    padding-bottom: 100px;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    font-size:medium;
    color: rgb(54, 117, 205);
}

img{
    display: block;
    padding: 5px;
}

.entire{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.smile1{
    display: inline-block;
 }

/* .footer{
    bottom : 0px;  
    height : 40px;  
    margin-top : 30px;  
    text-align: center;  
    vertical-align: middle; 
    position:fixed;
    width:100%;
} */
